.App {
  margin: 0 auto;
  max-width: 1080px;
  padding: 0 25px;
}

.WeatherCard {
  border: 1px solid black;
  border-radius: 8px;
}

.Subheader {
  font-size: 16px;
  font-weight: lighter;
  font-family: monospace;
}

.CurrentTemperature {
  font-size: 96px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0;
}

.CurrentTemperatureWrapper {
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
}
